body {
	font-family: Consolas, 微軟正黑體;
}

.bt button,
.bt input[type=text],
.bt input[type=color] {
	font-family: Consolas, 微軟正黑體;
	width      : 60px;
	height     : 40px;
	font-size  : 20px;
}

.bt input[type=checkbox] {
	width    : 40px;
	height   : 40px;
}

.bt td {
	font-size: 20px;
}

#filename {
	width: 300px;
}

.show {
	display: none;
}

.color td {
	width      : 40px;
	height     : 40px;
	line-height: .9;
}

.color td span {
	background-color: #fff;
}